.header__logo {
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in;
    color: black;
}

.header__img {
    width: 150px;
    height: 100px;
    background: url("../../../assets/img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -40px;
}

.header__link {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(167, 161, 131), 0 0 0.2em rgb(0, 0, 0);
}

.header__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 35px;
}
